{% extends 'base.html' %}

{% block person %}
    <div>
        <p>name : {{ person_1.name }}</p>
        <p>family : {{ person_1.family }}</p>
        <p>age : {{ person_1.age }}</p>
        <p>phone : {{ person_1.phone }}</p>
        <p>address : {{ person_1.address }}</p>
        <p>birthday : {{ person_1.birthday }}</p>
        <p>gender : {{ person_1.gender }}</p>


        {% if person_2.age > 18 %}
        	<h1>age {{ person_2.name }} > 18.z</h1>
        {% endif %}
    </div>
{% endblock %}